body {
  background-image: url('img/ragnarok.jpg');
}

.main {
  margin-top: 10em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
}

.img-card {
  height: 297px;
}

#story-container {
  margin-top: 2em;
}

.btn-secondary {
  visibility: hidden;
}