body {
  background-image: url('img/thor.jpg');
}

a {
  color: inherit;
}

header {
  width: 100%;
  height: 5em;
  background-color: white;
}

#header-title {
  float: left;
  display: inline-block;
  margin-left: 0.5em;
}

#header-icon {
  float: right;
  margin-right: 0.5em;
  width: 5em;
  height: 5em;
}

nav {
  font-size: 3em;
  color: white;
  text-align: center;
}

article {
  margin: 5em;
  padding: 1em;
  background-color: white;
}

iframe {
  padding: 1em;
  margin-left: 25em;
  border: none;
  position: relative;
}

#yggdrasil {
  padding: 1em;
  margin-left: 25em;
}

blockquote {
  background-color: grey;
  text-align: justify;
  color: white;
  font-size: 1.5em;
  width: 20em;
  padding: 1em;
}

#quote-cite {
  text-align: right;
}